body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#container {
    width: 100%;
    height: 100%;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
}

.boton {
    width: 100px;
    height: 100px;
}